<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application addData Page</title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="./static/js/scripts.js"></script>

</head>
<body>
    <h2>
        Add User
    </h2>

	<form action="/postdata" method="POST">
		<label for="personId">Person's ID</label>
		<input type="text" name="personId" id="personId"><br>
		<label for="lastName">Last Name</label>
		<input type="text" name="lastName" id="lastName"><br>
		<label for="firstName">First Name</label>
		<input type="text" name="firstName" id="firstName"><br>
  	<label for="address">Address</label>
		<input type="text" name="address" id="address"><br>
		<label for="city">Select City</label>
  	<select name="city" id="city">
  				<option value="Toronto">Toronto</option>
  				<option value="Other">Other</option>
		</select><br>
    <label for="rate">Rate</label>
    <select name="rate" id="rate">
          <option value="16">$16.00</option>
		  <option value="16.5">$16.50</option>
		  <option value="17">$17.00</option>
		  <option value="17.5">$17.50</option>
		  <option value="18">$18.00</option>
		  <option value="18.5">$18.50</option>
		  <option value="19">$19.00</option>
		  <option value="19.5">$19.50</option>
		  <option value="20">$20.00</option>
		  <option value="20.5">$20.50</option>
		  <option value="21">$21.00</option>
		  <option value="21.5">$21.50</option>
		  <option value="22">$22.00</option>
		  <option value="22.5">$22.50</option>
		  <option value="23">$23.00</option>
		  <option value="23.5">$23.50</option>
		  <option value="24">$24.00</option>
		  <option value="24.5">$24.50</option>
		  <option value="25">$25.00</option>
    </select><br>
  		<input id="postSubmitButton" type="submit" value="Submit">
	</form>

</body>
</html>