<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>drop user</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="./static/js/scriptsDropUser.js"></script>

</head>
<body>
    {% include "menu.html" %}
    <h2>
       Select User
    </h2>

    <form action="/dropuserbyid" method="POST">
    <label for="selectUser">Select User</label>
      <select name="selectUser" id="selectUser">
          <option value="">Select</option>
    </select><br>
    <label for="userId">User ID</label>
    <input type="text" value="" id="userId" name="userId"><br>
    <label for="fName">First Name</label>
    <input type="text" value="" id="fName" name="fName"><br>
    <label for="lName">Last Name</label>
    <input type="text" value="" id="lName" name="lName"><br>
      <input id="getUserInfo" type="submit" value="Submit">
  </form>

</body>
</html>