<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application select user Page</title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="./static/js/scriptsSelectUser.js"></script>

</head>
<body>
    <h2>
        Hello World! select user
    </h2>

    <form action="" method="">
    <label for="selectUser">Select User</label>
      <select name="selectUser" id="selectUser">
          <option value="">Select</option>
    </select><br>
      <input id="getUserInfo" type="submit" value="Submit">
  </form>

</body>
</html>